
.topbar {
    position: fixed;
    height: 60px;
    justify-content: flex-end;
    width: calc(100% - 10px);
    z-index: 1000;
     background: linear-gradient(to right,#000000,#000000,#000000); 
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top:0px;
  }
  #HLogo{
    margin-left: 30px;
    width: 60px;
  }#Logo{
    margin-left: 10px;
    width: 130px;
    transform: translate(0,4px);
  
    
  }
  #profile {
    width: 47px;
    position: absolute;
    right: 60px; /* ระยะห่างจากขอบขวาของ .topbar */
    top: 50%; /* วางกลางแนวตั้งของ .topbar */
    transform: translateY(-50%); /* ใช้เพื่อจัดตำแหน่งให้ชัดกลาง */
    cursor: pointer;
    }
    #coin{
      width: 27px;
     
    }
    .coin{
      /* border: 1px solid #FFFFFF; */
      height: 60px;
      width: 80px;
      display: flex;
      align-items: center;
      color: #ffffff;
      
    }#cointxt{margin: 10px;}

    .wrapcoin{
      position: absolute;
      right: 150px; /* ระยะห่างจากขอบขวาของ .topbar */
      top: 50%; /* วางกลางแนวตั้งของ .topbar */
      transform: translateY(-50%); /* ใช้เพื่อจัดตำแหน่งให้ชัดกลาง */
    }
#dropdown-profile {
      position: absolute;
      right: -43px; /* ปรับค่าให้เหมาะสม */
      top: 50%; /* ปรับค่าตามที่ต้องการ */
      transform: translateY(-50%);
  }
.dropdown-menu {
      width: 190px;
      z-index: 2000;
      position: absolute; /* ถ้าไม่ได้กำหนดไว้ */
      
     
}
