.aap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%); /* Center both vertically and horizontally */
    /* background-color: rgba(0, 0, 0, 0.8); */
    padding: 20px;
    z-index: 1000;
    width: auto; /* Allows the element to adjust its width based on content */
    max-width: 1000px; /* Limits the element's width to 90% of the viewport */
    border-radius: 10px;
}


.g2p{
    background: scroll;
    background-color: rgba(236, 250, 250, 0.278);
    border-radius: 20px;
    height: auto;
    width: 400px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid#dcdcdd;
    background-color: #fffffe;
}
.g2_1p{
    /* border: 1px solid black; */
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  
}
.cancelIconp{
    color: black;
    width: 15px;
    height: 15px;
    display: flex;
    cursor: pointer;
}
.cancelIconp:hover{
    background-color: #dcd6c75e;
    
}
.cardCoinp{
    /* margin-left:20px ; */
    margin-bottom: 20px;
    border: 1px solid#dcdcdd;
    background-color: #fffffe;
    border-radius: 10%;
    padding: 2px;
    width: 40%;
    height: auto;
    display: block;
    box-sizing: border-box;
    align-items: center;
}
.g2_2p{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;;
    
}
.box11p{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
    transform: translate(0,10px);
}
.box22p{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
}
.box33p{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
}
#iconp{
    height: 40px;
    padding-right: 8px;
}
#imgCp{
    width: 80px;
    padding: 12px 0 ;
   
}
.thbp{
    background-color: #fffaeb;
    color: #ffb900;
    height: 30px;
    width: auto;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid #ffb900;
    border-radius: 20px;
    transform: translate(0,-15px);
    cursor: pointer;
}
.thbp:hover{
    background-color:#ffb900 ;
    color: #fbffeb;
    height: 30px;
    width: auto;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid #ffb900;
    border-radius: 20px;
    cursor: pointer;
}
.prop{
    height: 30px;
    width: 60px;
    background-color: chocolate;
    padding: 1px;
    font-size: 17px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbffeb;
    transform: translate(190px,540px);
    
}