.Mcard {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 10px;
    width: 200px; /* หรือกำหนดความกว้างที่แน่นอน เช่น 300px */
    max-width: 280px; /* กำหนดความกว้างสูงสุดเพื่อให้แสดงแบบข้างๆ */
    height: auto;
    /* border: 1px solid #050799; */
    margin-bottom: 20px; /* เพิ่มช่องว่างด้านล่างการ์ด */
    /* border: 1px solid rgb(89, 0, 255); */
}
.Mcard:hover{
    background-color: rgb(17, 16, 16);
}

#Mcard {
    height: 283px;
    width: 167px;
   
    object-fit: cover;
    border-radius: 10px;
   
}
#htailb{
    font: 17px sans-serif;
    color: #FFF;
    height: auto;
    text-align: center;
    /* border: 1px solid red; */
    
}
#ieyeb,#iheartb{
    /* border: 1px solid red; */
    height: 15px;
}
#view_likeb{
    margin-left: 10px;
    font: 0.8em sans-serif;
    padding-right: 10px;
    color: #8c8888;
    /* border: 1px solid red; */
    
}
.pb{
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* border: 2px solid rgb(186, 186, 186); */
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* ช่องว่างระหว่างการ์ด */
    justify-content: flex-start;
    cursor: pointer;
    /* border: 2px solid rgb(186, 186, 186); */

}
.tailbox{
   padding-top: 10px;
    height: 100px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 3px solid rgb(186, 186, 186); */
}